# -------------------------
# LOCAL USER
# -------------------------
LOCAL_USER=www-data
LOCAL_USER_UID=1000
LOCAL_USER_GID=1000

# -------------------------
# PHP / XDEBUG
# -------------------------
PHP_IDE_CONFIG="serverName=STOCKFLOW"
XDEBUG_MODE=debug
XDEBUG_CLIENT_PORT=9003

# -------------------------
# APP
# -------------------------
APP_ENV=dev
APP_DEBUG=1

# -------------------------
# API (RoadRunner)
# -------------------------
API_PORT=8080

# -------------------------
# POSTGRES
# -------------------------
POSTGRES_DB=stockflow
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

# -------------------------
# RABBITMQ
# -------------------------
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# -------------------------
# REDIS
# -------------------------
REDIS_PORT=6379
