# -------------------------
# LOCAL USER
# -------------------------
LOCAL_USER=www-data
LOCAL_USER_UID=1000
LOCAL_USER_GID=1000

# -------------------------
# PHP / XDEBUG
# -------------------------
PHP_IDE_CONFIG="serverName=STOCKFLOW"
XDEBUG_MODE=debug
XDEBUG_PORT=9003

# -------------------------
# SYMFONY CORE
# -------------------------
APP_ENV=prod
APP_SECRET=

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=

DEFAULT_URI=http://localhost:8080

# -------------------------
# POSTGRES
# -------------------------
POSTGRES_DB=stockflow
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}?serverVersion=15&charset=utf8"

# -------------------------
# RABBITMQ
# -------------------------
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

MESSENGER_TRANSPORT_DSN="amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@rabbitmq:${RABBITMQ_PORT}/%2f/messages"

# -------------------------
# REDIS
# -------------------------
REDIS_PORT=6379
